<div class="card">
  <div class="row" style="padding-top:3%">

    <!-- <div class="card text-center col-lg-2" style="
    margin-left: 70px;
    " *ngFor="let x of  listOfleavecount ">
        <h3 [style.color]='x.color' style="text-align: center;padding-top:7%"><b>{{x.value}} </b></h3>
        <p style="text-align: center">{{x.key}}</p>
  
    </div> -->
    <div class="card text-center col-lg-2" style="
    margin-left: 70px;">
        <h3  style="text-align: center;padding-top:7%"><b>47 </b></h3>
        <p style="text-align: center">Total Proects</p>
  
    </div>
    <div class="card text-center col-lg-2" style="
    margin-left: 70px;">
        <h3  style="text-align: center;padding-top:7%"><b>47 </b></h3>
        <p style="text-align: center">Total Proects</p>
  
    </div>
    <div class="card text-center col-lg-2" style="
    margin-left: 70px;">
        <h3  style="text-align: center;padding-top:7%"><b>47 </b></h3>
        <p style="text-align: center">Total Proects</p>
  
    </div>
    <div class="card text-center col-lg-2" style="
    margin-left: 70px;">
        <h3  style="text-align: center;padding-top:7%"><b>47 </b></h3>
        <p style="text-align: center">Total Proects</p>
  
    </div>
    &nbsp;&nbsp;&nbsp;
  </div>
  
<div class="roww" style="padding-top:2%">
    <div class="col-lg-6">
      <h3>Project List</h3>
          </div>
          <div class="col-lg-6" style="text-align: end;">
            <button routerLink="/project-management/project-creation" type="button" class="btn btn-success" 
            >Create Project</button>
          </div>
</div>
<div class="row" >
      <div class="table-responsive">
        <div class="ibox-body">
            <div class="container">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr style="background-color: whitesmoke;">
                            <th>Project Name</th>
                            <th>Start Date</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>HRMS</td>
                        <td>7/6/2020 </td>
                        <td width="19%" style="color: green"><progress value=""></progress> </td>
                        <td>Active</td>
                        <td><i style="margin-left: 40px;"matTooltip="View Project Details" class="fa fa-eye fa-lg" routerLink="/project-management/project-view"
                            aria-hidden="true"></i> &nbsp;</td>            
                    </tr>                     
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

