.accordion-space {
	padding-bottom: 20px !important;
}
:host ::ng-deep .accordion-group .card-header {
	padding: 0px !important;
}
.panel-heading {
	padding: 0px !important;
}
.accordion-heading {
	color: #535353;
	font-family: "SF Pro Text";
	font-size: 16px;
	line-height: 19px;
	margin-top: 0px;
}
.container {
	padding-top: 50px;
}
.example-action-button {
	margin-top: 8px;
	margin-right: 8px;
}
:host ::ng-deep .mat-tab-body-content {
	overflow: hidden;
	padding: 60px;
}
:host ::ng-deep .mat-tab-group {
	border: 1px solid rgba(0, 0, 0, 0.125);
}
