<div class="col-md-12 p-0">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="card all-header">40</span>All
      </ng-template>
      <ng-template matTabContent>
        <p>List of Tasks</p>
        <div class="" *ngFor="let data of tasks">
          <p>{{data.text}}</p>
          <p>{{data.date}}</p>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="card new-header">14</span>New
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="card inprogress-header">6</span>InProgess
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="card complete-header">20</span>Completed
      </ng-template>
    </mat-tab>

  </mat-tab-group>


</div>